#layout-header {width: 900px;}#layout-content {width: 900px;}#layout-footer {width: 900px;}#layout {min-width: 900px;}
			#watermark {width: 900px;}
			#columns {
				padding-top: 40px;
				padding-bottom: 40px;
			}
			#column1 {
				display: none;
				width: 200px;
			}
			#column1-content {
				min-height: 350px;
			}
			#column2 {
				display: none;
				width: 150px;
			}
			#column2-content {
				min-height: 350px;
			}
			#content {
				margin-left: 0px;
				margin-right: 0px;
			}
			#content-content {
				min-height: 350px;
			}
		