#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 {
	text-align: center;
}#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li > a {
			
			font-size: 18px;
		}
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul li {
			margin: 0px 0px 0px 0px;
		}
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul li > a {
			font-weight: normal;
			font-style: normal;
			text-decoration: none;
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.selected,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.childselected,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.selected:hover,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.childselected:hover,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.selected > a,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.childselected > a,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.selected:hover > a,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.childselected:hover > a,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li:hover > a {
			padding: 6px 10px 7px 10px;
			border: solid #000000;
			border-width: 0px;
			border-radius: 0;
			box-shadow: none;
		}
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul li.selected,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul li.childselected,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul li.selected:hover,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul li.childselected:hover,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul li:hover {
			margin: 0px 0px 0px 0px;
		}
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul li.selected > a,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul li.childselected > a,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul li.selected:hover > a,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul li.childselected:hover > a,
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul li:hover > a {
			padding: 6px 10px 7px 10px;
		}

		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 > li.normal > a { color: #5b6357;}
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 > li.normal > a { background-color: transparent; } #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 > li.normal > a { background-image: none; }
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.selected > a, #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.childselected > a { color: #e8432d; }
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul > li.normal > a { color: #5b6357; }#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul > li.normal > a { background-image: none; }
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul > li.normal > a { background-color: #FFFFFF; }
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.selected > a, #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.childselected > a, #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul > li.childselected > a { background-color: #FFFFFF; }
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.normal:hover > a { color: #e8432d; }
		#navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.normal:hover > a { background-color: #FFFFFF; } #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.selected > a, #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.childselected > a, #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.normal:hover > a { background-image: none; }
		.mobile-view #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.selected > a,
		.mobile-view #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.childselected > a { color: #e8432d; }.mobile-view #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.selected > a,
		.mobile-view #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li.childselected > a { background-color: transparent; }.mobile-view #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li:hover > a { color: #e8432d; }.mobile-view #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 li:hover > a { background-color: transparent; }.mobile-view #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul > li > a { color: #5b6357; }.mobile-view #navigation-344fb3c8-1c0b-3ff9-5ee7-b94fc976f3c2 ul > li > a { background-color: transparent; }